<div class="p-6">
  <div *ngIf="errorMessage" class="text-red-600 text-sm text-center">
    {{ errorMessage }}
  </div>

  <div class="flex justify-between mb-4">
    <h1 class="text-2xl font-bold mb-4">Notas</h1>
    <p-button
      label="Crear Nota"
      (onClick)="onCreate()"
      icon="pi pi-plus"
    ></p-button>
  </div>

  <app-loading-spinner *ngIf="loading" message="Cargando notas..." />

  <app-note-table
    *ngIf="!loading"
    [notes]="notes"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
  />

  <app-note-form
    [visible]="showModal"
    [note]="selectedNote"
    [loading]="loadingForm"
    (save)="onSave($event)"
    (cancel)="showModal = false"
  />
</div>
